.one{
    width: 200px;
    height: 200px;
}
#main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.card {
    margin: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}